/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/challenges/s1-week-4/InteractiveProductCard.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.InteractiveProductCard_cardGrid__sNEVV {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.InteractiveProductCard_cardItem__Ehjxp {
    position: relative;
    transform: rotate(0deg);
    border-radius: 20px;
    cursor: pointer;
}

.InteractiveProductCard_cardItem__Ehjxp:hover {
    background: linear-gradient(0deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
    transform: rotate(5deg);
    transition: transform 1s ease;
}

.InteractiveProductCard_cardItem__Ehjxp:hover .InteractiveProductCard_cardImg__epnCp {
    background: linear-gradient(0deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
}

.InteractiveProductCard_cardImg__epnCp {
    height: 100%;
    border-radius: 20px;
}

.InteractiveProductCard_cardText__RLHS0 {
    position: absolute;
    font-family: 'Kristi';
    font-style: italic;
    font-weight: 400;
    font-size: 31px;
    line-height: 39px;
    letter-spacing: 0.02em;
    color: transparent;
    top: -20px;
    left: 110px;
    transform: translate(0, -60px);
    transition: transform 1s ease, color 1s ease;
}

.InteractiveProductCard_cardItem__Ehjxp:hover .InteractiveProductCard_cardText__RLHS0 {
    color: #FAFAFA;
    transform: translate(0, 0);
}



