/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/challenges/s1-week-5/WebsiteProject.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.WebsiteProject_box__VgqEt {
    display: flex;
    flex-direction: row;
    gap: 23px;
}

.WebsiteProject_textTitle__xNJt2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.02em;
    color: #33383D;
    text-align: start;

}

.WebsiteProject_text__gvhbI {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.04em;
    color: #33383D;
    text-align: start;
}

.WebsiteProject_projectName__Glrlg {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: transparent;
    
}

.WebsiteProject_projectDate__1p_2D {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: transparent;
}

.WebsiteProject_imgBox___euYH {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/_next/static/media/desktop.6893cc63.png);
    min-width: 926px;
    min-height: 500px; 
    background-size: cover;
    background-position: center;
    animation: WebsiteProject_fade-in__SZhRE 1s ease-in-out;
}

@keyframes WebsiteProject_fade-in__SZhRE {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .WebsiteProject_imgBox___euYH:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/_next/static/media/desktop.6893cc63.png);
    }

    .WebsiteProject_imgBox___euYH:hover .WebsiteProject_projectName__Glrlg {
        color: #E8E6E2;
        
    }
    
    .WebsiteProject_imgBox___euYH:hover .WebsiteProject_projectDate__1p_2D {
        color: #E8E6E2;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
.WebsiteProject_imgBox___euYH {
    background: url(/_next/static/media/tablet.4292993a.png);
    min-width: 538px;
    min-height: 664px; 
    background-size: cover;
    background-position: center;
}

}
  
@media only screen and (max-width: 767px) {
    .WebsiteProject_imgBox___euYH {
        background: url(/_next/static/media/mobile.75f4fef0.png);
        min-width: 340px;
        min-height: 500px; 
        background-size: cover;
        background-position: center;
    }
    
    .WebsiteProject_box__VgqEt {
        flex-direction: column-reverse;
        gap: 23px;
    }
}
  
