.header {
  display: flex;
  font-family: "Inter", sans-serif;
  align-items: center;
  width: 80vw;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navItem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1px;
  cursor: pointer;
}

.logo {
  display: flex;
  gap: 4px;
  margin-right: 250px;
  cursor: pointer;
}

.toggle {
  width: 16px;
  height: 16px;
  background: #000000;
  border-radius: 50px;
  cursor: pointer;
}

.logoDot {
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 50px;
}
