.header {
  display: flex;
  font-family: "Inter", sans-serif;
  align-items: center;
  width: 80vw;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navItem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1px;
  cursor: pointer;
}

.logo {
  display: flex;
  gap: 4px;
  margin-right: 250px;
  cursor: pointer;
}

.toggle {
  width: 16px;
  height: 16px;
  background: #000000;
  border-radius: 50px;
  cursor: pointer;
}

.logoDot {
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 50px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 110px;
  line-height: 122px;
  letter-spacing: -8px;
}

.main {
  text-align: start;
  width: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.theme {
  transition: 1s all ease;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}
